<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">
	<link rel="stylesheet" href="{{ "/css/site.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">
	<title>MaptimeSEA</title>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
</head>
<body>
	<div class="container">
		<nav>
			<a id="home" href="/">MaptimeSEA</a>
			<a href="#tutorial" id="tut-title">{{ page.title }}</a>
			<ul id="tutorial-nav"></ul>
		</nav>